In [152]:
import pandas as pd

In [153]:
users = pd.read_csv(r"D:\PROJECT_Data_Analysis\Paypal_Project\users.csv")
transactions = pd.read_csv(r"D:\PROJECT_Data_Analysis\Paypal_Project\transactions.csv")
chargebacks = pd.read_csv(r"D:\PROJECT_Data_Analysis\Paypal_Project\chargebacks.csv")
payment_methods = pd.read_csv(r"D:\PROJECT_Data_Analysis\Paypal_Project\payment_methods.csv")

In [154]:
users.head(10)

  user_id signup_date    country device_type is_kyc_verified account_type
0  U00001  2022-04-13    Germany      Mobile             Yes     Business
1  U00002  2023-03-12        USA      Mobile             Yes     Business
2  U00003  2024-05-10  Australia      Mobile             Yes     Personal
3  U00004  2022-09-28  Australia     Desktop             Yes     Personal
4  U00005  2022-04-17         UK      Mobile             Yes     Personal
5  U00006  2022-03-13     Canada      Mobile             Yes     Personal
6  U00007  2023-12-02    Germany     Desktop             Yes     Personal
7  U00008  2022-01-21    Germany      Mobile              No     Personal
8  U00009  2023-09-07      India      Mobile             Yes     Personal
9  U00010  2022-05-02    Germany     Desktop             Yes     Personal

In [155]:
transactions.head(11)

,transaction_id,user_id,transaction_date,amount,currency,payment_method,transaction_status,merchant_category,fee_amount
0,T0000001,U01848,2023-02-14,13.97,INR,Wallet,Failed,Entertainment,0.35
1,T0000002,U12390,2023-04-29,352.46,EUR,Credit Card,Success,Travel,8.81
2,T0000003,U03874,2023-10-12,118.12,USD,Credit Card,Success,SaaS,2.95
3,T0000004,U02772,2023-08-24,17.06,USD,Debit Card,Failed,Food,0.43
4,T0000005,U13719,2023-01-17,290.14,EUR,Debit Card,Failed,Entertainment,7.25
5,T0000006,U07898,2023-12-01,116.01,EUR,Credit Card,Success,Ecommerce,2.90
6,T0000007,U01707,2023-01-19,190.40,EUR,Credit Card,Success,Food,4.76
7,T0000008,U17345,2023-11-23,58.69,EUR,Bank Transfer,Success,SaaS,1.47
8,T0000009,U11559,2023-10-07,66.26,EUR,Credit Card,Success,SaaS,1.66
9,T0000010,U14368,2023-10-06,216.85,USD,Wallet,Success,Ecommerce,5.42
10,T0000011,U11100,2024-04-16,444.94,EUR,Debit Card,Success,Travel,11.12

In [156]:
chargebacks.head(10)

,chargeback_id,transaction_id,chargeback_date,reason,chargeback_amount
0,CB000001,T0119738,2023-04-30,Duplicate Transaction,420.18
1,CB000002,T0072273,2024-01-08,Duplicate Transaction,259.10
2,CB000003,T0158155,2024-02-25,Customer Dispute,489.72
3,CB000004,T0065427,2023-04-13,Customer Dispute,147.70
4,CB000005,T0030075,2023-07-01,Duplicate Transaction,181.35
5,CB000006,T0023678,2024-07-07,Customer Dispute,492.66
6,CB000007,T0134859,2023-08-16,Fraud,313.89
7,CB000008,T0176419,2023-11-17,Customer Dispute,486.36
8,CB000009,T0132468,2023-08-04,Fraud,195.27
9,CB000010,T0004083,2023-07-03,Customer Dispute,422.90

In [157]:
users.shape

(20000, 6)

In [158]:
transactions.shape

(200000, 9)

In [159]:
chargebacks.shape

(5000, 5)

In [160]:
users.isnull().sum()

user_id            0
signup_date        0
country            0
device_type        0
is_kyc_verified    0
account_type       0
dtype: int64

In [161]:
transactions.isnull().sum()

transaction_id        0
user_id               0
transaction_date      0
amount                0
currency              0
payment_method        0
transaction_status    0
merchant_category     0
fee_amount            0
dtype: int64

In [162]:
chargebacks.isnull().sum()

chargeback_id        0
transaction_id       0
chargeback_date      0
reason               0
chargeback_amount    0
dtype: int64

In [163]:
transactions['transaction_status'].value_counts()

transaction_status
Success    170064
Failed      19816
Pending     10120
Name: count, dtype: int64

In [164]:
transactions['amount'].describe()

count    200000.000000
mean        252.505030
std         142.778826
min           5.000000
25%         128.880000
50%         252.325000
75%         376.142500
max         500.000000
Name: amount, dtype: float64

In [165]:
transactions[transactions['transaction_status']=='Success']['amount'].sum()

np.float64(42935095.79999999)

In [166]:
Success_Count = (transactions['transaction_status'] == 'Success').sum()
print("Success_Count",Success_Count)
Total_Count = len(transactions)
print("Total_count",Total_count)
Success_Rate = (Success_Count / Total_Count) * 100
print("Success_Rate",Success_Rate)

Success_Count 170064
Total_count 200000
Success_Rate 85.032

In [167]:
payment_methods = pd.read_csv(r"D:\PROJECT_Data_Analysis\Paypal_Project\payment_methods.csv")

In [168]:
payment_methods.head()

  payment_method  processing_fee_pct
0    Credit Card                 2.9
1     Debit Card                 2.1
2         Wallet                 1.5
3  Bank Transfer                 1.0
4            UPI                 0.5

In [169]:
#Convert Dates to Datetime

In [170]:

transactions['transactions_date'] = pd.to_datetime(transactions['transaction_date'])
users['signup_date'] = pd.to_datetime(users['signup_date'])
chargebacks['chargeback_date'] = pd.to_datetime(chargebacks['chargeback_date'])

In [171]:
#Enables:
#Monthly analysis
#Time difference calculations
#Date logic is critical in payments analytics

In [172]:
# Remove Invalid Transactions

transactions = transactions[transactions['Amount'] > 0]

In [173]:
#Remove Duplicate Transactions

In [174]:
transactions = transactions.drop_duplicates(subset = 'transaction_id')

In [175]:
#Standardize Categorical Values

In [176]:
transactions['transaction_status'] = (transactions['transaction_status'].str.strip().str.title())

In [177]:
#Now we create business features.

In [178]:
#Feature 1: Is Successful Transaction
transactions['IS_Success']= transactions['transaction_status'] == 'Success'

In [179]:
print(transactions['transaction_date'].dtype)
print(transactions['transaction_date'].head())

object
0    2023-02-14
1    2023-04-29
2    2023-10-12
3    2023-08-24
4    2023-01-17
Name: transaction_date, dtype: object

In [180]:
transactions['transaction_date'] = pd.to_datetime(transactions['transaction_date'])

In [181]:
print(transactions['transaction_date'].head())

0   2023-02-14
1   2023-04-29
2   2023-10-12
3   2023-08-24
4   2023-01-17
Name: transaction_date, dtype: datetime64[ns]

In [182]:
#Transaction Month
transactions['txn_month'] = transactions['transaction_date'].dt.to_period('M')
transactions['txn_month_name'] = transactions['transaction_date'].dt.month_name()

In [183]:
print(transactions['txn_month_name'].head())

0    February
1       April
2     October
3      August
4     January
Name: txn_month_name, dtype: object

In [184]:
#Join Payment Method Fees

In [185]:
transactions = transactions.merge( payment_methods, on ='payment_method', how = 'left')

In [186]:
transactions.head()

,transaction_id,user_id,transaction_date,amount,currency,payment_method,transaction_status,merchant_category,fee_amount,transactions_date,IS_Success,txn_month,txn_month_name,processing_fee_pct
0,T0000001,U01848,2023-02-14,13.97,INR,Wallet,Failed,Entertainment,0.35,2023-02-14,False,2023-02,February,1.5
1,T0000002,U12390,2023-04-29,352.46,EUR,Credit Card,Success,Travel,8.81,2023-04-29,True,2023-04,April,2.9
2,T0000003,U03874,2023-10-12,118.12,USD,Credit Card,Success,SaaS,2.95,2023-10-12,True,2023-10,October,2.9
3,T0000004,U02772,2023-08-24,17.06,USD,Debit Card,Failed,Food,0.43,2023-08-24,False,2023-08,August,2.1
4,T0000005,U13719,2023-01-17,290.14,EUR,Debit Card,Failed,Entertainment,7.25,2023-01-17,False,2023-01,January,2.1

In [187]:
transactions = transactions.drop(columns=['IS_Successfull'])

KeyError: "['IS_Successfull'] not found in axis"

In [189]:
transactions.head(10)

,transaction_id,user_id,transaction_date,amount,currency,payment_method,transaction_status,merchant_category,fee_amount,transactions_date,IS_Success,txn_month,txn_month_name,processing_fee_pct
0,T0000001,U01848,2023-02-14,13.97,INR,Wallet,Failed,Entertainment,0.35,2023-02-14,False,2023-02,February,1.5
1,T0000002,U12390,2023-04-29,352.46,EUR,Credit Card,Success,Travel,8.81,2023-04-29,True,2023-04,April,2.9
2,T0000003,U03874,2023-10-12,118.12,USD,Credit Card,Success,SaaS,2.95,2023-10-12,True,2023-10,October,2.9
3,T0000004,U02772,2023-08-24,17.06,USD,Debit Card,Failed,Food,0.43,2023-08-24,False,2023-08,August,2.1
4,T0000005,U13719,2023-01-17,290.14,EUR,Debit Card,Failed,Entertainment,7.25,2023-01-17,False,2023-01,January,2.1
5,T0000006,U07898,2023-12-01,116.01,EUR,Credit Card,Success,Ecommerce,2.90,2023-12-01,True,2023-12,December,2.9
6,T0000007,U01707,2023-01-19,190.40,EUR,Credit Card,Success,Food,4.76,2023-01-19,True,2023-01,January,2.9
7,T0000008,U17345,2023-11-23,58.69,EUR,Bank Transfer,Success,SaaS,1.47,2023-11-23,True,2023-11,November,1.0
8,T0000009,U11559,2023-10-07,66.26,EUR,Credit Card,Success,SaaS,1.66,2023-10-07,True,2023-10,October,2.9
9,T0000010,U14368,2023-10-06,216.85,USD,Wallet,Success,Ecommerce,5.42,2023-10-06,True,2023-10,October,1.5

In [190]:
#Processing Fee Amount
transactions['proccessing_fee'] = (transactions['amount'] * transactions['processing_fee_pct'] / 100)

In [191]:
#Net Revenue
transactions['net_revenue'] = transactions['amount'] - transactions['proccessing_fee']

In [192]:
transactions['net_revenue'].head()

0     13.76045
1    342.23866
2    114.69452
3     16.70174
4    284.04706
Name: net_revenue, dtype: float64

In [193]:
#Chargeback Flag
transactions['is_chargeback'] = transactions['transaction_id'].isin(chargebacks['transaction_id'])

In [194]:
transactions.head(10)

,transaction_id,user_id,transaction_date,amount,currency,payment_method,transaction_status,merchant_category,fee_amount,transactions_date,IS_Success,txn_month,txn_month_name,processing_fee_pct,proccessing_fee,net_revenue,is_chargeback
0,T0000001,U01848,2023-02-14,13.97,INR,Wallet,Failed,Entertainment,0.35,2023-02-14,False,2023-02,February,1.5,0.20955,13.76045,False
1,T0000002,U12390,2023-04-29,352.46,EUR,Credit Card,Success,Travel,8.81,2023-04-29,True,2023-04,April,2.9,10.22134,342.23866,False
2,T0000003,U03874,2023-10-12,118.12,USD,Credit Card,Success,SaaS,2.95,2023-10-12,True,2023-10,October,2.9,3.42548,114.69452,False
3,T0000004,U02772,2023-08-24,17.06,USD,Debit Card,Failed,Food,0.43,2023-08-24,False,2023-08,August,2.1,0.35826,16.70174,False
4,T0000005,U13719,2023-01-17,290.14,EUR,Debit Card,Failed,Entertainment,7.25,2023-01-17,False,2023-01,January,2.1,6.09294,284.04706,True
5,T0000006,U07898,2023-12-01,116.01,EUR,Credit Card,Success,Ecommerce,2.90,2023-12-01,True,2023-12,December,2.9,3.36429,112.64571,False
6,T0000007,U01707,2023-01-19,190.40,EUR,Credit Card,Success,Food,4.76,2023-01-19,True,2023-01,January,2.9,5.52160,184.87840,True
7,T0000008,U17345,2023-11-23,58.69,EUR,Bank Transfer,Success,SaaS,1.47,2023-11-23,True,2023-11,November,1.0,0.58690,58.10310,False
8,T0000009,U11559,2023-10-07,66.26,EUR,Credit Card,Success,SaaS,1.66,2023-10-07,True,2023-10,October,2.9,1.92154,64.33846,False
9,T0000010,U14368,2023-10-06,216.85,USD,Wallet,Success,Ecommerce,5.42,2023-10-06,True,2023-10,October,1.5,3.25275,213.59725,False

In [196]:
#User-Level Enrichment
transactions = transactions.merge( users[['user_id', 'country', 'account_type']] , on= 'user_id', how = 'left')

In [197]:
#Final Validation
transactions[['amount','proccessing_fee','net_revenue']].describe()
transactions.isnull().sum()

transaction_id        0
user_id               0
transaction_date      0
amount                0
currency              0
payment_method        0
transaction_status    0
merchant_category     0
fee_amount            0
transactions_date     0
IS_Success            0
txn_month             0
txn_month_name        0
processing_fee_pct    0
proccessing_fee       0
net_revenue           0
is_chargeback         0
country_x             0
account_type_x        0
country_y             0
account_type_y        0
dtype: int64

In [198]:
transactions.head()

,transaction_id,user_id,transaction_date,amount,currency,payment_method,transaction_status,merchant_category,fee_amount,transactions_date,...,txn_month,txn_month_name,processing_fee_pct,proccessing_fee,net_revenue,is_chargeback,country_x,account_type_x,country_y,account_type_y
0,T0000001,U01848,2023-02-14,13.97,INR,Wallet,Failed,Entertainment,0.35,2023-02-14,...,2023-02,February,1.5,0.20955,13.76045,False,Germany,Personal,Germany,Personal
1,T0000002,U12390,2023-04-29,352.46,EUR,Credit Card,Success,Travel,8.81,2023-04-29,...,2023-04,April,2.9,10.22134,342.23866,False,USA,Personal,USA,Personal
2,T0000003,U03874,2023-10-12,118.12,USD,Credit Card,Success,SaaS,2.95,2023-10-12,...,2023-10,October,2.9,3.42548,114.69452,False,Australia,Personal,Australia,Personal
3,T0000004,U02772,2023-08-24,17.06,USD,Debit Card,Failed,Food,0.43,2023-08-24,...,2023-08,August,2.1,0.35826,16.70174,False,India,Personal,India,Personal
4,T0000005,U13719,2023-01-17,290.14,EUR,Debit Card,Failed,Entertainment,7.25,2023-01-17,...,2023-01,January,2.1,6.09294,284.04706,True,USA,Personal,USA,Personal

In [200]:
pip install mysql-connector-python sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (9.3.0)
Requirement already satisfied: sqlalchemy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.14.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [203]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+mysqlconnector://root:root@127.0.0.1:3306/paypal"
)

In [208]:
users.to_sql(
    name="users",
    con=engine,
    if_exists="replace",   # use 'append' if table already exists
    index=False
)

transactions.to_sql(
    name="transactions",
    con=engine,
    if_exists="replace",
    index=False
)

chargebacks.to_sql(
    name="chargebacks",
    con=engine,
    if_exists="replace",
    index=False
)

payment_methods.to_sql(
    name="payment_methods",
    con=engine,
    if_exists="replace",
    index=False
)

5

In [209]:
transactions.head()

,transaction_id,user_id,transaction_date,amount,currency,payment_method,transaction_status,merchant_category,fee_amount,transactions_date,...,txn_month,txn_month_name,processing_fee_pct,proccessing_fee,net_revenue,is_chargeback,country_x,account_type_x,country_y,account_type_y
0,T0000001,U01848,2023-02-14,13.97,INR,Wallet,Failed,Entertainment,0.35,2023-02-14,...,2023-02-01,February,1.5,0.20955,13.76045,False,Germany,Personal,Germany,Personal
1,T0000002,U12390,2023-04-29,352.46,EUR,Credit Card,Success,Travel,8.81,2023-04-29,...,2023-04-01,April,2.9,10.22134,342.23866,False,USA,Personal,USA,Personal
2,T0000003,U03874,2023-10-12,118.12,USD,Credit Card,Success,SaaS,2.95,2023-10-12,...,2023-10-01,October,2.9,3.42548,114.69452,False,Australia,Personal,Australia,Personal
3,T0000004,U02772,2023-08-24,17.06,USD,Debit Card,Failed,Food,0.43,2023-08-24,...,2023-08-01,August,2.1,0.35826,16.70174,False,India,Personal,India,Personal
4,T0000005,U13719,2023-01-17,290.14,EUR,Debit Card,Failed,Entertainment,7.25,2023-01-17,...,2023-01-01,January,2.1,6.09294,284.04706,True,USA,Personal,USA,Personal

In [206]:
# Fix Period column
transactions['txn_month'] = transactions['txn_month'].dt.to_timestamp()